body {
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  color: blue;
  /*font-size: 3.75rem;*/
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: blue;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  margin: 1rem 0;
}

.middle{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;  /* the height of the text is always 1em*/

  width: 100%;
  text-align: center;
}

.jsRandom {
  text-align: center;
}

form {
  background-color: orange;
  text-align: center;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: blue;
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem solid blue;
  height: 2rem;
}

footer {
  margin: auto;
  font-size: 1rem;
  opacity: 0.60;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 1;
  margin: 1rem 0;
}

footer:hover {
  opacity: 1;
}

.filtersButton {
  text-align: center;
}

.hidden {
  display: none;
}
.footerImage {
  width: 80px;
  vertical-align: middle;
}

.infoCard {
  margin: auto;
  width: 50%;
}

#disqus_thread{
  margin:auto;
  width: 40%;
}

#randomMifflin {
  font-size: 1.5rem;
  border: 0.2rem solid #262626;
  background-color: white;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
  width: 15rem;
  height: 3rem;
  margin: 1rem 0;
}

svg{
  width: 2rem;
  vertical-align: middle;
}
