/* general
-------------------------------------------- */
body {
  background-color: #161616;
  color: #FFFFFF;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}

hr {
  border: 3px solid;
}

h1 {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  /* color: #5B00FF; */
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
}

.text-link {
  color: #696969;
  font-weight: bold;
  text-decoration: none;
}

.text-link:hover {
  font-style: italic;
  color: #FFFFFF;
}

.bold {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.2;
  cursor: default;
}

.red {
  color: #e84393;
}
/* HEADER
-------------------------------------------------------------------------------------------*/

.header {
  max-width: 524px;
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  margin-bottom: -5px;
}

.header-title {
  margin-top: 15px;
}

.header-desc {
  max-width: 524px;
  text-align: justify;
  margin-top: 15px;
}

/* FILTERS
-------------------------------------------------------------------------------------------*/
.season-exclude {
  width:524px;
  margin: auto;
}

.season-exclude input {
  opacity: 0;
  margin-right: -15px;
}

.episode-btn {
  font-family: Helvetica, sans-serif;
  background-color: #696969;
  font-size: 14px;
  height: 20px;
  margin-left: 2px;
  line-height: 20px;
  width: 108px;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

.exclude {
  font-family: Helvetica, sans-serif;
  cursor: default;
  background-color: #685F59;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 59px;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin-top: 15px;
}

input:checked + .episode-btn {
  background-color:#3F3F3F;
  text-decoration: line-through;
}

/* RANDOMIZE
-------------------------------------------------------------------------------------------*/
.button-container {
  width: 524px;
  margin: auto;
  margin-top: 15px;
}

#buttonText {
  font-size: 24px;
}

#randomMifflin {
  font-family: Helvetica, sans-serif;
  width: 100%;
  height: 50px;
  line-height: 1;
  text-align: center;
  background-color: #BFA595;
  color: #ffffff;
  border: none;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#buttonText:active {
  font-size: 23px;
}
#randomMifflin:active {
  background-color: #9D887B;
}

/* EPISODE CARD
-------------------------------------------------------------------------------------------*/
.infoCard {
  margin: auto;
  max-width: 524px;
}

#title {
  margin-top: 15px;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.pic {
  margin-top: 15px;
  width: 100%;
}

.pic hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

#thumbnail {
  margin-top: 0px;
  margin-bottom: 0;
  filter: grayscale(100%);
  width: 100%;
}

.meta {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-top: 15px;
  margin-bottom: 0.4em;
}

.meta p{
  font-weight: bold;
}

.meta span {
  font-weight: bold;
}

.information {
  text-align: justify;
  margin-top: 15px;
}

.links {
  max-width: 524px;
  margin: auto;
  margin-top: 15px;
}

.watch {
  font-family: Helvetica, sans-serif;
  background-color: #685F59;
  text-decoration: none;
  cursor: default;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  width: 59px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.watch-links {
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  background-color: #696969;
  font-size: 14px;
  height: 20px;
  margin-left: 2px;
  line-height: 20px;
  width: 108px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.watch-links:active {
  font-size: 13px;
  background-color: #696969;
}

.links img {
  height: 2em;
  margin-right: 1em;
  margin-top: 1em;
}

.links img:active {
  height: 1.5em;
}

/* FOOTER
-------------------------------------------------------------------------------------------*/
footer {
  display: block;
  margin: 0 auto;
  max-width: 524px;
  margin: auto;

}
.footer-box {
  margin-top: 15px;
  text-align: justify;
}

footer p {
  color: #696969;
  margin-top: 0.5rem;
}

.imgimg {
  margin: auto;
  width: 174px;
}

.imgimg img {
  margin-bottom: 30px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}