body {
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 2.5rem;
  color: #5B00FF;
  /*font-size: 3.75rem;*/
  font-weight: 700;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: bold;
}

p {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #5B00FF;
}

.header {
  text-align: center;
  margin: 1rem 0;
}

form {
  background-color: orange;
  text-align: center;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: #5B00FF;
  border-radius: 1rem;
  background-color: white;
  border: 0.1rem solid #5B00FF;
  height: 2rem;
}

footer {
  margin: auto;
  font-size: 1rem;
  opacity: 0.60;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  line-height: 1;
  margin: 1rem 0;
}

footer:hover {
  opacity: 1;
}

.filtersButton {
  text-align: center;
}
blockquote {
    width: 50%;
    display: inline;
}
.hidden {
  display: none;
}
.footerImage {
  width: 80px;
  vertical-align: middle;
}

.infoCard {
  margin: auto;
  width: 60%;
  background-color: #FFD400;
}

#disqus_thread{
  margin:auto;
  width: 40%;
}

button{
  height: 3rem;
}

.material-icons {
  font-size: 1rem;
  vertical-align: middle;
}
#buttonText {
  font-size: 1.5rem;
}
#randomMifflin {
  font-family: 'Open Sans', sans-serif;
  width: 15rem;
}
